<div class="posts">
  <h1 class="content-subhead">
    Recent posts
  </h1>
  <% activities.each do |activity| %>
    <section class="post">
      <header class="post-header">
        <h2 class="post-title"><%= link_to activity.title, path(activity) %></h2>
        <p class="post-meta">
          <i><%= time_ago_in_words(activity.created_at) %> ago</i>
          <% activity.tags.each do |tag| %>
            <%= link_to tag, tag_path(tag), class: 'post-category post-category-pure' %>
          <% end %>
        </p>
      </header>
      <div class="post-description">
        <p>
          <%= activity_text(activity.body) %>
        </p>
      </div>
      <% if activity_img?(activity) %>
        <div class="post-images pure-g">
          <div class="pure-u-1 pure-u-md-1-1">
            <%= image_tag activity.url, class: 'pure-img photo' %>
          </div>
        </div>
      <% end %>
    </section>
  <% end %>
</div>
