<%= form_for(@photo) do |f| %>
  <ul>
    <% @photo.errors.full_messages.each do |error| %>
      <li>
        <%= error %>
      </li>
    <% end %>
  </ul>

  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title%>
  </p>

  <p>
    <%= f.label :url, "Image Url" %>
    <%= f.text_field :url %>
  </p>

  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body, class: 'hashtag_textarea'%>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<script type="text/javascript">
	$(document).ready(function() {
		$("textarea.hashtag_textarea").hashtags();
	});
</script>
