<h1><%= @photo.title %></h1>
<%= render partial: 'tags/tags' %>

<% if @photo.url %>
  <%= image_tag @photo.url, class: 'photo' %>
<% end %>

<p>
  <%= link_to "Edit photo post", edit_photo_path(@photo) %>
  <%= link_to "Delete photo post", photo_path(@photo), method: :delete %>
</p>
<br>

<h3>Comments (<%= @photo.comments.size %>)</h3>

<%= render partial: 'comments/comment', collection: @photo.comments.desc %>
<%= render partial: 'comments/form' %>

<%= link_to "<< back to photo list", photos_path %>
