<!DOCTYPE html>
<html>
<head>
  <title>BloggerApp</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="flash">
  <%= flash.notice %>
</p>
<div id="layout" class="pure-g">
  <div class="sidebar pure-u-1 pure-u-md-1-4">
    <div class="header">
            <h1 class="brand-title">A Sample Blog</h1>
            <h2 class="brand-tagline">Creating a blog layout using Pure</h2>
            <nav class="nav">
                <ul class="nav-list">
                  <li class="nav-item">
                      <%= link_to "View all", root_path, class: 'pure-button' %>
                  </li>
                    <li class="nav-item">
                        <%= link_to "View photos", photos_path, class: 'pure-button' %>
                    </li>
                    <li class="nav-item">
                        <%= link_to "View articles", articles_path, class: 'pure-button' %>
                    </li>
                </ul>
            </nav>
        </div>
  </div>
</div>
<div class="content pure-u-1 pure-u-md-3-4">
  <div>
    <!-- A wrapper for all the blog posts -->
    <%= yield %>
  </div>
</div>

</body>
</html>
